:root {
  --color-green-positive: 60, 187, 180;
  --color-yellow-negative: 249, 173, 29;
  --color-dark-background: rgba(0, 0, 0, .4);
  --color-darker-background: rgba(0, 0, 0, .6);
  --color-darker-gray: rgba(51, 51, 51, 1);
  --color-dark-gray: rgba(70, 70, 70, 1);
  --color-light-gray: rgba(235, 235, 235, 1);
  --color-light-background: rgba(255, 255, 255, .4);
  --color-lighter-background: rgba(255, 255, 255, .8);
  --color-white: rgba(255, 255, 255, 1);
}

.icon-button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.icon-button[aria-label="thumbs up"] {
  background-color: rgba(var(--color-green-positive), .8);
}

.icon-button[aria-label="thumbs up"]:hover {
  background-color: rgba(var(--color-green-positive), 1);
}

.icon-button[aria-label="thumbs down"] {
  background-color: rgba(var(--color-yellow-negative), .8);
}

.icon-button[aria-label="thumbs down"]:hover {
  background-color: rgba(var(--color-yellow-negative), 1);
}

.icon-button > img {
  width: 100%;
  height: 100%;
}
